@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;

  --black-colour: #1a1a1a;
  --white-colour: #ffffff;
  --grey-colour: #efefef;
  --green-colour: #00ce6e;
  --red-colour: #ff0000;
  --blue-colour: #0047ab;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--white-colour);
  color: var(--black-colour);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

p {
  line-height: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.875rem;
  color: var(--black-colour);
  font-weight: 300;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.625rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.375rem;
}

strong {
  font-weight: 500;
}

a {
  color: var(--blue-colour);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small {
  display: block;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  line-height: 1.8rem;
  font-weight: 500;
}

button,
.btn {
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--blue-colour);
  color: var(--white-colour);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.btn--black-bg {
  background-color: var(--black-colour);
}

article ul {
  padding-left: 1rem;
  list-style-type: square;
}

input,
.input-div {
  display: block;
  width: 100%;
  font-size: 0.95rem;
  background-color: var(--grey-colour);
  color: var(--black-colour);
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 10px;
}

.magic-word {
  background-color: var(--grey-colour);
  padding: 0 1rem 0;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.magic-word div {
  width: 70%;
}

header h1 {
  color: var(--blue-colour);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

header a#website-logo:hover {
  text-decoration: none;
}

main {
  margin: 1rem 0;
}

main h2 {
  font-size: 2.5rem;
}

footer p {
  font-size: 0.95rem;
}

.container {
  padding: 0.5rem 1rem;
}

/**
 * Mailchimp Errors
 */

.error-message {
  color: var(--red-colour);
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
}

#mc-status-success {
  color: var(--green-colour);
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  main {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 17px;
  }

  .desktop {
    display: none;
  }

  main {
    width: 60%;
  }

  nav#mobile-nav {
    display: none;
  }

  nav#desktop-nav {
    display: block;
  }
}

@media (min-width: 1280px) {
  main {
    width: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--black-color);
    color: var(--white-color);
  }
}
